page-home {

  sebm-google-map {
    background-color: #212121;
    border-radius: 10px !important;
    display: block;
    height: 73vh  !important;
    width: 100%;

    a{
      background: none !important;
      border: none !important;
      color: #fff !important;
    }
  }

}
