    /* CONTENEDORES */

    ion-content, ion-item{
        background-color:  #212121 !important;
        color: #fff !important;
    }

    h1,span{
        color: #fff;
        
    }

    /* CLASES DE IONIC */
  
    .button{
        background-color:#4CAF50 !important;
        border-radius: 20px; 
        border-color: #4CAF50 !important;
    }

    .toolbar-background {
        background-color:#4CAF50;
    }

     /* BOTNES */

     .buttonMenu{
        background-color:  #212121 !important; 
        color: #fff;
    }
    .buttonMenu:hover{
        background-color:#388e3c !important;
    }
    

    .buttonLogOut{
        background-color:  #212121 !important; 
        color: #fff;
    }
    
    .buttonLogOut:hover{
        background-color:#e53935 !important;
    }

   


   






