<ion-menu [content]="content" >
  <ion-header>
    <ion-toolbar>
      <ion-title text-center> <h1>YPIX</h1> </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-list *ngIf="!this.authService.isLoggedIn">

      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" class="buttonMenu">
        <ion-icon name="{{p.icon}}"></ion-icon> <span> {{ p.title  }}  </span>  
      </button>

    </ion-list>

    <ion-list *ngIf="this.authService.isLoggedIn">
        
      <button ion-item *ngFor="let pl of pagesL" (click)="openPage(pl)" class="buttonMenu"> 
         <ion-icon name="{{pl.icon}}"></ion-icon> <span> {{pl.title}}</span> 
      </button> 

      <button ion-item (click)="closeSession()" class="buttonLogOut">
        <ion-icon name="ios-log-out"></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
